
/*Aletta Ren*/


h1{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 800;
  color: #000E54;
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  width: fit-content;
  block-size: fit-content;
  text-align: left;
}

h2{
  font-family:'Roboto', sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  margin-right: 70px;
  width: fit-content;
  block-size: fit-content;
}


h3{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  padding-top: 30px;
  width: fit-content;
  block-size: fit-content;
  text-align: left;
}

h4{
  font-family:'Roboto', sans-serif;
  color: #000000;
  font-size: 22px;
  width: 480px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: fit-content;
  block-size: fit-content;
  margin-left: 15px;
}


h5{
  font-family:'Roboto', sans-serif;
  color: #7a7979;
  font-size: 16px;
  width: 480px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: fit-content;
  block-size: fit-content;
  text-align: center;
}

.white{
  font-weight: 800;
  color: #000E54;
  padding-top: 60px;
}

.like{
  height: 100px;
  max-width: 200px;
  margin: 30px 30px 30px 0px;
}

.subtitle{
  font-size: 25px;
}

.website{
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}


.footer-image{
  width: 120px;
  height: 60px;

}

.jumbotron-logo{
  width:900px; 
  height:471px;
  block-size: fit-content;
}


a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-style: solid;
  font-weight: 800;
}

.ab{
  color: #525151;
  text-decoration: none;
  font-weight: 500;
}

.ab:visited {
  color: #525151;
  text-decoration: none;
  font-weight: 500;
}

.ab:hover {
  color: #525151;
  text-decoration: underline;
  text-decoration-style: solid;
  font-weight: 500;
}

.footer-link {
  color: #9748cf;
  text-decoration: none;
}

.footer-link:visited {
  color: #2f6b4d;
  text-decoration: none;}

.footer-link:hover {
  color: #520d1d;
  text-decoration: underline;
  text-decoration-style: solid;
}

body {
  background-image: url('../images2/body-background.png');
}

.black{
  color:#000000;
}

.black2{
  color:#000000;
  font-weight: 800;
}

.header-logo{
  height: 30px;
}

.bgcolor1{
  background-color: #FFFFFF;
}

.bgcolor2{
  background-color: #d1d1d1;
}

.bgcolor3{
  background-color: #000E54;
}


.list-inline{
  text-decoration: none;
}
.list-inline-item{
  text-decoration: none;
}

.copyright{
  font-size: 8px;
}



/* top navbar background */
.navbar{
  background-color:#000E54 !important;
}

/* navbar links */
.navbar-dark .navbar-nav .nav-link{
  color:#ffffff;
  /* you need to style these up using the right font settings */
}

/* navbar link hover */
.navbar-dark .navbar-nav .nav-link:hover{
  color:#F76900;
}

/* hamburger */
.navbar-toggler{
    background-color:none;
    border-color:rgba(255, 255, 255, 0);
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-nav .nav-link{
  color: #ffffff; 
  font-family: 'Rajdhani', sans-serif;  
  font-weight:600;
  font-size:20px; 
}

.navbar-nav .dropdown-menu{
  background-color: #000E54;
  border-style:none;
  font-family: 'Rajdhani', sans-serif;  
  font-weight:600;
  font-size:20px; 
}



.nav-link:active{
}

.btn{
  border-style: none;
  width: 300px;
  margin-left: 15px;
}

.btn-primary{
  background-color: #000E54;
}

.btn-primary:hover{
  background-color:#F76900 !important;
  border-color: #F76900 !important;
  text-decoration: none;
}

.jumbotron{
  height: 1080px;
  background-image:url('../images/Rectangle1.png');
  background-size: cover;
  width: 100%;
  border-radius: 0;
}

.jumbotron2{
  height: 1080px;
  background-image:url('../images/021.png');
  background-size: cover;
  width: 100%;
  border-radius: 0;
}


.row {
   padding: 0px;
}

.navbarscroll {
  bs-scroll-height: 100px
}

.navbar-toggler-icon {
  width: 47px;
  height: 34px;
  background-color: transparent;
  color:#ffffff;
 }


.card {
  border-radius: 0;
  border-style: none;
  background-color: #000E54;
}


.card-text {  
  font-family: 'Rajdhani', sans-serif;
  font-weight: 800;
  font-size:18px;
  color: #000E54;
  text-align: center;
}

.watch {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 800;
  font-size:18px;
  color: #F76900;
  text-align: center;
  text-decoration: underline;
}

.card2 {
  border-radius: 0;
  margin: 10px;
  border-style: none;
  /*height: 230px;*/
}
.card-img-top {
  background-size: cover;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #000E54;
  text-shadow: none; 
}



